:root {
  --secondarycolor: rgb(73, 209, 250);
  --activeclick: rgb(31, 119, 243);
}
[data-them="light"] {
  --background-color: #ffffff;
}

.container {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 1rem 0;
    background-color: transparent;

    h3 {
      visibility: hidden;
      opacity: 0;
    }

    .navigation {
      a {
        margin: 0 2rem;
        font-family: "Roboto Mono", monospace;
        text-decoration: none;
      }

      a:hover {
        color: var(--secondarycolor);
      }

      a:active {
        color: var(--activeclick);
      }

      .closeBtn {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        outline: none;
        border: none;
        visibility: hidden;
        opacity: 0;
        font-size: 1.8rem;
      }
    }

    .openBtn {
      padding: 5px;
      cursor: pointer;
      background: transparent;
      outline: none;
      border: none;
      visibility: hidden;
      opacity: 0;
      font-size: 1.8rem;
      top: 4rem;
      left: 6rem;
    }
  }

  @media only screen and (max-width: 1024px) {
    /* .container {
      position: fixed;
    } */
    header .navigation {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: var(--background-color);

      transition: 1s;
      transform: translateX(-100vh);
      z-index: 1;

      .closeBtn {
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: 2rem;
        left: 18rem;
      }
    }

    header .openBtn {
      visibility: visible;
      opacity: 1;
    }

    header .responsive_nav {
      transform: none;
    }
    .navigation {
      a {
        font-size: 1.5rem;
      }
    }
  }
}
